{( uses admin/layout )}

{( block title )}
Edit Data
{( endblock )}

{( block content )}
	<form action="?editData" method="post" class="mx-auto w-100 p-4 border rounded" style="max-width: 500px;">
		<h4>Edit Data</h4>

		{( for data )}
		{( var this2 = @this )}
		<hr/>
		<p>
			{( for columns )}
			<div class="my-2">
				{( var type = explode('(', @this.Type)[0] )}

				<small>{( echo ucfirst(@this.Field) )}:</small>
				{( if @this.Field=='id' )}
					<input type="" name="id[]" value="{( @this2.id )}" class="form-control" readonly />
				{( elseif in_array(@type, [ 'time', 'datetime', 'timestamp', 'date', 'year' ]) )}
					<input type="date" name="{( @this.Field )}[]" class="form-control" placeholder="{( echo ucfirst(@this.Field) )}" value="{( Date('Y-m-d') )}" value="{( @this2[@this.Field] )}" />
				{( elseif in_array(@type, [ 'int', 'double', 'float', 'real', 'decimal', 'tinyint', 'bigint' ]) )}
					<input type="number" step="0.1" min="0" name="{( @this.Field )}[]" class="form-control" placeholder="{( echo ucfirst(@this.Field) )}" value="{( @this2[@this.Field] )}" />
				{( elseif strpos(@type, 'text')!==FALSE || @type=='varchar' )}
					<textarea name="{( @this.Field )}[]" class="form-control" placeholder="{( echo ucfirst(@this.Field) )}">{( @this2[@this.Field] )}</textarea>
				{( elseif @type=='boolean' )}
					<input type="checkbox" name="{( @this.Field )}[]" class="form-control" placeholder="{( echo ucfirst(@this.Field) )}" />
				{( elseif @type=='enum' )}
					{( var choices = explode(',', str_replace([ 'enum', '(', ')' ], '', @this.Type)) )}
					<select class="form-control" name="{( @this.Field )}[]" value="{( @this2[@this.Field] )}">
					{( for choices )}
						<option>{( echo str_replace('\'', '', @this) )}</option>
					{( endfor )}
					</select>
				{( else )}
					<textarea name="{( @this.Field )}[]" class="form-control" placeholder="{( echo ucfirst(@this.Field) )}">{( @this2[@this.Field] )}</textarea>
				{( endif )}
			</div>
			{( endfor )}
		</p>
		{( endfor )}

		<button class="btn btn-primary">
			Save
		</button>
	</form>
{( endblock )}